<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>abc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userRegister</servlet-name>
        <servlet-class>userRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userWelcome</servlet-name>
        <servlet-class>userWelcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>send</servlet-name>
        <servlet-class>send</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alteration</servlet-name>
        <servlet-class>.Alteration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>AdminUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminWelcome</servlet-name>
        <servlet-class>AdminWelcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alter</servlet-name>
        <servlet-class>Alter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentPanel</servlet-name>
        <servlet-class>PaymentPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>replybox</servlet-name>
        <servlet-class>replybox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget</servlet-name>
        <servlet-class>Forget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userRegister</servlet-name>
        <url-pattern>/userRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userWelcome</servlet-name>
        <url-pattern>/userWelcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>send</servlet-name>
        <url-pattern>/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alteration</servlet-name>
        <url-pattern>/Alteration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUser</servlet-name>
        <url-pattern>/AdminUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminWelcome</servlet-name>
        <url-pattern>/AdminWelcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alter</servlet-name>
        <url-pattern>/Alter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentPanel</servlet-name>
        <url-pattern>/PaymentPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>replybox</servlet-name>
        <url-pattern>/replybox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget</servlet-name>
        <url-pattern>/Forget</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>hostelHome.html</welcome-file>
    </welcome-file-list>
</web-app>
